//Colors
$orange:  #FF543E;
$peach:  #FFDFB9;
$pink: #FFCCC5;
$green:#2EC6A3;
$cream-white:#FFF1F0;
$dark-grey:#5A5A5A;
$light-grey:#8E8E8E;
$lightgrey1:#C0C0C0;
$body-color:#242529;
$white:#FFFFFF;

//Screen Sizes
$xxl:1400px;
$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;


